asgiref==3.2.10
boto3==1.15.6
botocore==1.18.6
certifi==2020.6.20
dj-database-url==0.5.0
Django==3.1.1
django-crispy-forms==1.9.2
django-heroku==0.3.1
django-storages==1.10.1
gunicorn==20.0.4
jmespath==0.10.0
Pillow==7.2.0
pip==20.2.2
psycopg2==2.8.5
python-dateutil==2.8.1
pytz==2020.1
s3transfer==0.3.3
setuptools==49.6.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
wheel==0.35.1
whitenoise==5.2.0
